@model Tarefas.Web.Models.TarefaViewModel

<form asp-action="Create">

   <div class="form-group">
        <label asp-for="Titulo">@Html.DisplayNameFor(model => model.Titulo)</label>
        @Html.TextBoxFor(model => model.Titulo, new { @class = "form-control", @disabled = "true" })
    </div>

    <div class="form-group">
        <label asp-for="Descricao">@Html.DisplayNameFor(model => model.Descricao)</label>
        @Html.TextAreaFor(model => model.Descricao, new { @class = "form-control", @disabled = "true" })
    </div>
    <input asp- for="Id" hidden/>
    <input asp- for="Concluida" hidden/>

    <a asp-controller="Tarefa" asp-action="Index" asp-route-id="@Model.Id">Voltar</a>
        
</form>